# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
.vs/HumanMouse/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.tlog
*.pdb
*.lastbuildstate
*.tlog
*.txt
*.idb
